@media only screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

p,
ul {
	font-family: "neue-haas-grotesk-text", arial, sans-serif;
}
header p,
header a,
h1,
h2,
h3,
footer p,
footer a {
	font-family: paralucent, arial, sans-serif;
}

header {
	background: #b4d8e0;
	color: #005148;
}
header a {
	color: #005148;
	text-decoration: none;
}
header a:hover {
	color: #005148;
	text-decoration: underline;
}
header h1 {
	font-size: 5rem;
	font-weight: bold;
}
header h2 {
	font-size: 3rem;
	font-weight: bold;
}
header p {
	font-size: 3rem;
}

main {
	background: #fff;
	color: #005148;
}
main h2 {
	font-weight: normal;
	font-size: 3rem;
}
main p,
main ul {
	font-size: 1.375rem;
	margin-bottom: 2rem;
}
main p a {
	color: #000aff;
}
main p a:hover {
	color: #000aff;
	text-decoration: underline;
}
main p.date {
	font-size: 1.125rem;
	font-style: italic;
}

main .what-to-expect {
	background: #fdf7e3;
}
main .what-to-expect h2 {
	font-size: 3rem;
}

main .what-to-expect h3 {
	font-size: 2rem;
	font-weight: lighter;
}
main .what-to-expect ul li {
	margin-bottom: 1rem;
}

footer {
	background: #005148;
	color: white;
}
footer p {
	font-size: 2rem;
	color: #fdf7e3;
}
footer p a {
	color: #fdf7e3;
	text-decoration: none;
}
footer p a:hover {
	color: #fdf7e3;
	text-decoration: underline;
}
